* {
    /* background-color: wheat; */
    margin: 0;
    padding: 0;
}

#helo {
    background-color: red;
}

body {
    background-image: url(http://bit.ly/2gPLxZ4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tittle {
    margin-left: 100px;
    width: 70%;
    border-radius: 15px;
    /* display: flex; */
    /* box-shadow: 0px 0px 5px #ddd; */
    /* border: 1px solid #ddd; */
}

#myImg {
    border-radius: 90px;
}

#tittleof {
    margin-top: 60px;
    letter-spacing: 2px;
    margin-left: 5%;
}

#till {
    margin-top: 10px;
    letter-spacing: 2px;
    margin-left: 5%;
}

h5,
h3,
h2,
h4 {
    color: white;
}

.inside {
    /* position: absolute; */
    background: inherit;
    margin-top: 100px;
    display: flex;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-image: url(http://bit.ly/2gPLxZ4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3); */
    /* filter: blur(10px); */
    box-shadow: 0px 6px 20px rgb(173, 79, 79);
    border-radius: 20px;
    padding: 7px;
    /* background-image: linear-gradient(to right, #e9dbb5, #dd856b, #da819b, #c27d5c); */
}

#price {
    /* background-color: red; */
    display: flex;
}

#description {
    margin-left: 1.6%;
    width: 60%;
}

#button {
    /* background-color: red; */
    display: flex;
}


/* 
#input {
    text-align: center
} */

#button input {
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(241, 241, 157);
}

.amount {
    margin: auto;
    margin-top: 50px;
    display: flex;
    /* background-color: red; */
}

#till1 {
    margin-top: 10px;
    margin-left: 10%;
}

.till2 {
    margin-top: 10px;
    margin-left: 5%;
}

.price1 {
    margin-top: 10px;
    letter-spacing: 2px;
    margin-left: 5%;
}

.charge {
    margin-top: 10px;
    display: flex;
}

#charges {
    /* margin-top: 10px; */
    margin-left: 5%;
}

.till1 {
    margin-top: 10px;
    margin-left: 10%;
}

.total {
    margin-top: 100px;
    display: flex;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0px 6px 10px #ddd;
    border-radius: 5px;
    padding: 7px;
}

#totalofall {
    margin-top: 20px;
    margin-left: 80%;
}

.deletebutton {
    margin-left: 0%;
    width: 100%;
    /* background-color: red; */
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover {
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.total {
    background-image: linear-gradient(to right, #f1b40b, #ff3e04, #fa7199, #e85a19);
}

.buttonminpls {
    background-color: red;
    width: 46px;
    border-radius: 100px;
}


/* 
.rs {
    margin-top: 10px;
    background-color: red;
} */


/* 
.hellossss {
    display: flex;
}

#height {
    margin-left: 50px;
} */